--find-links https://download.pytorch.org/whl/torch_stable.html

torch==1.11.0+cu113
torchvision==0.12.0+cu113 
torchaudio==0.11.0

pytorch-lightning
torchmetrics
torch-fidelity

# Some basics libs. 

tqdm 
setproctitle
h5py
einops

jupyterlab
jupyterlab_widgets
ipywidgets
pythreejs

boto3 
mlflow 
wandb

numpy 
scikit-image 
scikit-learn 
matplotlib 
opencv-python 





