numpy
matplotlib
scikit-learn
addict
jupyterlab
pyntcloud
ConfigArgParse
tensorflow==2.8
tensorflow-addons==0.16.1
tensorflow-io==0.25
tensorflow-graphics==2021.12.3
tensorboard_plugin_profile
transformers==4.17.0
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
imageio==2.11.1
imageio-ffmpeg==0.4.5
scipy
pytest
tqdm
farrow-and-ball
flake8
black==21.7b0
isort
scikit-image
gdown
tabulate
pymcubes
pythreejs
ipympl